= @form.label @method, class: 'uk-form-label'
- if @errors.any?
  p = @errors.map { |e| "#{@method.to_s.titleize} #{e}" }.join(' or ')
= @form.password_field @method, class: "uk-input #{@errors.any? ? 'uk-form-danger' : nil}", required: true, **@options
